.content
{
    height: 100vh;
    display: flex;
    align-items: center;
}
.cpanel
{
    width: 100%;
}
.signals-wrap
{
    text-align: center;
}

.status-wrap
{
    width: 100%;
    background-color: beige;
}

.hidden
{
    display: none;
}

.bg_success
{
    background-color: aquamarine;
}